.gradient_background {
  background-color: #243b56; /* For browsers that do not support gradients */
  background-image: linear-gradient(#243b56, #631510);
  height: 100vh;
}

a {
  text-decoration: none;
}

.img-center {
  display: block;
  margin: auto auto -30px auto;
  padding: 0;
}

.img-header-resize {
  clip-path: circle();
  width: 7%;
}

.body-text {
  width: 100% !important;
  padding: 0;
  margin: 0;
  color: white;
  text-align: center;
}

h1 {
  font-family: Lexend;
  font-size: 2rem;
  margin: 25px auto -10px auto;
}

h2 {
  font-family: Lexend;
  font-weight: 100;
  font-size: 1rem;
}

.svg-icon-changes {
  width: 45px;
  margin: -3px 5px 0 5px;
  padding: 0;
}
